body {
    background-color: #73653e;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    margin: 0;
    position: relative;
    text-align: center;
}

header {
    align-items: center;
    background-color: #0a212b;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 14vh;
    padding: 30px;
    position: relative;
}

.logo {
    font-family: 'Gloria Hallelujah', cursive;
    color: #bba18c;
    font-size: 20px;
}

.fa-pastafarianism {
    color: #bba18c;
    font-size: 25px;
    transition: transform 0.4s linear;
}

.fa-pastafarianism:hover {
    transform: scale(1.1) translate(2px,2px);
}

.fa-bars {
    background-color: #0a212b;
    color: #bba18c;
    font-size: 25px;
}

.desktop-navbar {
    background-color: #0a212b;
    position: absolute;
    left: 0;
    padding: 25px 0 15px 0;
    text-align: center;
    top: 14vh;
    width: 100%;
    z-index: 10;
}
    
nav a {
    display: block;
}

.desktop-navbar a {
    color: #bba18c;
    display: block;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
}

.desktop-navbar a:hover {
    color: pink;
}

.menu-button {
    align-self: center;
    border: none;
    background-color: transparent;
    padding: 0;
}
.menu-button label {
    display: inline-block;
    padding: 0;
}

#input-button:checked ~ nav {
    display: block !important;
}

.fa-rocket {
    color: #bba18c;
    font-size: 25px;
    padding: 15px;
    transition: transform 1s linear;
}

.fa-rocket:hover {
    transform: rotate(720deg);
}

.p-breakpoint {
    align-items: center;
    box-sizing: border-box;
    color: palevioletred;
    display: flex;
    justify-content: center;
    padding: 25px;
    position: absolute;
    top: 40vh;
    width: 100%;    
}

.img-breakpoint4 {
    background-image: url('https://media.giphy.com/media/NDJWGU4n74di0/giphy.gif');
    background-position: -105px 0px;
    height: 600px;
}

.p-breakpoint2,
.p-breakpoint3,
.img-breakpoint4,
.desktop-navbar,
#input-button {
    display: none;
}

@media (min-width: 414px) {
    .p-breakpoint2 {
        display: block;
    }

    .p-breakpoint1 {
        display: none;
    }
}

@media (min-width: 768px) {
    .p-breakpoint3 {
        display: block;
    }
    
    .p-breakpoint2 {
        display: none;
    }
}

@media (min-width: 1024px) {
    .img-breakpoint4 {
        display: block;
    }

    .p-breakpoint3,
    .menu-button {
        display: none;
    }

    .desktop-navbar {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        left: unset;
        right: 0;
        top: 0;
        width: auto;
    }
}